# Day 1: Python Basics

Welcome to your first day of learning Python! This notebook covers the fundamentals needed to start writing basic Python programs, including group activities to help you debug common errors.

**Goals for Today:**
* Use the `print()` function for output.
* Get user input with the `input()` function.
* Understand and use variables and basic data types (`int`, `float`, `str`, `bool`).
* Learn about escape characters (like `\n`, `\t`) using the backslash `\`.
* Perform calculations using mathematical operators.
* **Distinguish between string concatenation (`+`) and using commas (`,`) in `print()`**.
* Understand and apply basic PEP 8 naming conventions.
* Explore basic data structures: Lists, Tuples, and Dictionaries, including their features and common methods.
* Practice writing clean, commented code.
* Debug common errors in group activities.

## 1. The `print()` Function: Displaying Output

The `print()` function displays information (text, numbers, etc.) to the screen.

**Syntax:** `print(value1, value2, ...)`

Text (strings) must be enclosed in quotes (`"` or `'`). Multiple items are separated by spaces by default.

In [ ]:
!python --version

Python 3.11.13

In [ ]:
# Example 1.1: Printing text
print("Hello, Python Learners!")

# Example 1.2: Printing numbers
print(2025)

# Example 1.3: Printing multiple items
print("Learning Python in", 2025, "is fun!", True)

Hello, Python Learners!
2025
Learning Python in 2025 is fun! True

**Best Practice: Comments**
Lines starting with `#` are comments. Python ignores them. Use comments to explain your code!

**Exercise 1:**
Use the `print()` function to:
1. Print your name.
2. Print the current year (e.g., 2025).
3. Print your name and the current year on the same line.

In [ ]:
# Exercise 1.1 Code Cell
print("Ruhan")

print(2025)

print("Ruhan", 2025)

Ruhan
2025
Ruhan 2025

# Mounting Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

## 2. The `input()` Function: Getting User Input

The `input()` function pauses the program and waits for the user to type something and press Enter.

**Important:** `input()` *always* returns the input as a **string**.

**Syntax:** `variable_name = input("Prompt message: ")`

In [ ]:
# Example 2.1: Getting user's name
user_name = input("What is your name? ")
print("Nice to meet you,", user_name, "!")

# Example 2.2: Getting user's age (as a string!)
user_age_str = input("How old are you? ")
print("You mentioned your age is:", user_age_str)
print("The type of user_age_str is:", type(user_age_str)) # Notice it's <class 'str'>

What is your name? waasida
Nice to meet you, waasida !
How old are you? 2323
You mentioned your age is: 2323
The type of user_age_str is: <class 'str'>

**Exercise 2:**
1. Ask the user for their favorite programming language.
2. Print a message back to the user incorporating their answer, like "[Language] is a great choice!".

In [ ]:
# Exercise 2 Code Cell

favourite_language: str = input("What is your favorite programming language? ")
print(f"{favourite_language} is a great choice!")

What is your favorite programming language? Python
Python is a great choice!

## 3. Variables and Basic Data Types

**Variables** are names used to store data values. Use the assignment operator (`=`) to assign a value to a variable.

**Basic Data Types:**
* **`int`**: Integers (e.g., `10`, `-3`, `0`).
* **`float`**: Floating-point numbers (e.g., `3.14`, `-0.5`, `10.0`).
* **`str`**: Strings (text), in quotes (e.g., `"Hello"`, `'Python'`).
* **`bool`**: Booleans (`True` or `False`).

Use `type()` to check a variable's data type.

In [ ]:
# Example 3.1: Creating variables
course_name = "Python Beginners"
day_number = 1
course_rating = 4.9
is_interactive = True

print(course_name, type(course_name))
print(day_number, type(day_number))
print(course_rating, type(course_rating))
print(is_interactive, type(is_interactive))

Python Beginners <class 'str'>
1 <class 'int'>
4.9 <class 'float'>
True <class 'bool'>

**Exercise 3:**
1. Create a variable `city` storing the name of your city (string).
2. Create a variable `temperature` storing the current temperature as a decimal number (float).
3. Create a variable `is_raining` storing `True` or `False` (boolean).
4. Print the value and type of each variable.

In [ ]:
# Exercise 3 Code Cell


city: str = "Birmingham"
temperature: float = 12.5
is_raining: bool = True

print(city, type(city))
print(temperature, type(temperature))
print(is_raining, type(is_raining))

Birmingham <class 'str'>
12.5 <class 'float'>
True <class 'bool'>

### ✨ Group Debugging Activity 1: Input & Types ✨

**Instructions:**
1. Read the code below. It intends to ask the user for two numbers, add them, and print the result.
2. Run the code and observe the error or incorrect output.
3. Discuss in your group: What is causing the problem? (Hint: Think about the `input()` function).
4. In the empty cell below, write the corrected code.

In [ ]:
# Buggy Code 1: Adding numbers from input

print("--- Number Adder ---")
num1_str = input("Enter the first number: ")
num2_str = input("Enter the second number: ")

# This code intends to add the two numbers numerically
sum_result = num1_str + num2_str

print("The sum is:", sum_result)
print("(Is this the result you expected? Why/Why not?)")

--- Number Adder ---
Enter the first number: 1
Enter the second number: 2
The sum is: 12
(Is this the result you expected? Why/Why not?)

In [ ]:
# Corrected Code 1 Cell
# Write your corrected code here

print("--- Number Adder ---")

num1: int = int(input("Enter the first number: "))
num2: int = int(input("Enter the second number: "))

# This code intends to add the two numbers numerically
print(f"The sum is: {num1 + num2}")

--- Number Adder ---
Enter the first number: 2
Enter the second number: 3
The sum is: 5

## 4. Escape Characters (Using Backslash `\`)

The backslash `\` is used inside strings to create "escape sequences", which represent special characters that are hard to type directly.

Common Escape Sequences:
* `\n`: Newline - Moves the cursor to the next line.
* `\t`: Tab - Inserts a horizontal tab space.
* `\\`: Backslash - Inserts a literal backslash character.
* `\'`: Single Quote - Inserts a literal single quote inside a string defined with single quotes.
* `\"`: Double Quote - Inserts a literal double quote inside a string defined with double quotes.

In [ ]:
# Example 4.1: Newline and Tab
print("Hello\nWorld!") # \n creates a line break
print("Column1\tColumn2") # \t creates a tab space

# Example 4.2: Literal Backslash
print("This is a file path: C:\\Users\\YourName") # Need \\ to print a single \

# Example 4.3: Quotes within strings
print('She said, \'Hello!\'') # Using \' inside single quotes
print("He replied, \"Hi there!\"") # Using \" inside double quotes
# Easier way for quotes:
print("She said, 'Hello!'") # Use opposite quote types
print('He replied, "Hi there!"')

Hello
World!
Column1	Column2
This is a file path: C:\Users\YourName
She said, 'Hello!'
He replied, "Hi there!"
She said, 'Hello!'
He replied, "Hi there!"

**Exercise 4:**
Using `print()` and escape characters, print the following output exactly as shown (across three lines):
```
Languages:
	Python
	Java
Path: C:\\Program Files
```

In [ ]:
# Exercise 4 Code Cell

print("Languages:\n\tPython\n\tJava\nPath: C:\\\\Program Files")

Languages:
	Python
	Java
Path: C:\\Program Files

## 5. Mathematical Operators

Python supports standard mathematical operations:

* `+`: Addition
* `-`: Subtraction
* `*`: Multiplication
* `/`: True Division (results in a float, e.g., `10 / 4 = 2.5`)
* `//`: Floor Division (discards remainder, results in int if both operands are int, e.g., `10 // 4 = 2`)
* `%`: Modulo (remainder of division, e.g., `10 % 4 = 2`)
* `**`: Exponentiation (power, e.g., `2 ** 3 = 8`)

Parentheses `()` can be used to control the order of operations.

In [ ]:
# Example 5.1: Basic operations
a = 15
b = 2

print(f"{a} + {b} = {a + b}") # Using f-strings for formatted output
print(f"{a} - {b} = {a - b}")
print(f"{a} * {b} = {a * b}")
print(f"{a} / {b} = {a / b}") # True division
print(f"{a} // {b} = {a // b}") # Floor division
print(f"{a} % {b} = {a % b}") # Modulo (remainder)
print(f"2 ** 4 = {2 ** 4}") # Exponentiation

# Example 5.2: Order of operations
result1 = 10 + 2 * 3 # Multiplication first: 10 + 6 = 16
result2 = (10 + 2) * 3 # Parentheses first: 12 * 3 = 36
print("10 + 2 * 3 =", result1)
print("(10 + 2) * 3 =", result2)

15 + 2 = 17
15 - 2 = 13
15 * 2 = 30
15 / 2 = 7.5
15 // 2 = 7
15 % 2 = 1
2 ** 4 = 16
10 + 2 * 3 = 16
(10 + 2) * 3 = 36

**Exercise 5:**
1. Calculate the area of a rectangle with width `w = 5.5` and height `h = 3.25`. Print the result.
2. Calculate `3` raised to the power of `4`. Print the result.
3. Calculate the remainder when `25` is divided by `7`. Print the result.

In [ ]:
# Exercise 5 Code Cell
w: float = 5.5
h: float = 3.25

print(f"Area of rectangle with width {w} and height {h} is {w * h}")

print(f"3 raised to the power of 4 is {3 ** 4}")

print(f"The remainder when 25 is divided by 7 is {25 % 7}")

Area of rectangle with width 5.5 and height 3.25 is 17.875
3 raised to the power of 4 is 81
Remainder when 25 is divided by 7 is 4

## 5a. Concatenation (`+`) vs. Comma (`,`) in `print()`

We've seen `+` used for math. It can also be used with strings, but it behaves differently than the comma `,` inside the `print()` function.

**String Concatenation (`+`):**
* Joins two strings together into one new string.
* **Requires BOTH operands to be strings.** You cannot directly concatenate a string and a number.
* You need to explicitly convert numbers to strings using `str()` before concatenating.
* Does **not** automatically add spaces.

**Comma (`,`) within `print()`:**
* Tells `print()` to handle multiple items separately.
* Can accept items of **different data types** (strings, numbers, booleans, etc.).
* `print()` automatically converts each item to its string representation before printing.
* Automatically inserts a **space** between items by default.

In [ ]:
# Example 5a.1: String Concatenation (+)
str1 = "Hello"
str2 = "World"
greeting = str1 + " " + str2 + "!" # Need to add spaces manually
print(greeting)

# Example 5a.2: Concatenation requires strings
item = "Apples"
count = 5
# print(item + " count: " + count) # This causes a TypeError!
# Corrected using str():
print(item + " count: " + str(count))

# Example 5a.3: Using Comma (,) in print()
print(item, "count:", count) # Comma handles mixed types and adds spaces

Hello World!
Apples count: 5
Apples count: 5

**Exercise 5a:**
1. Create a variable `product_name` with a string value (e.g., "Laptop").
2. Create a variable `product_price` with a float value (e.g., 1200.50).
3. **Using string concatenation (`+`) and `str()`:** Print a sentence like "Product: Laptop Price: $1200.5". Make sure to include spaces and the dollar sign.
4. **Using commas (`,`) within `print()`:** Print the same information (product name and price), letting `print()` handle the spacing and types. Observe the difference in your code.

In [ ]:
# Exercise 5a Code Cell
product_name: str = "Laptop"
product_price: float = 1200.50

print("Product: " + product_name + " Price: $" + str(product_price))
print("Product:", product_name, "Price: $", str(product_price))

Product: Laptop Price: $1200.5
Product: Laptop Price: $ 1200.5

## 6. Naming Conventions (PEP 8)

**PEP 8** is the official style guide for Python code. Following it makes your code more readable and consistent.

**Key Naming Rules for Beginners:**

1.  **Variables and Functions:** Use `snake_case`.
    * All lowercase letters.
    * Use underscores (`_`) to separate words.
    * Examples: `user_name`, `total_count`, `calculate_area()`.
    * *Avoid:* `userName`, `TotalCount`, `calculatearea`.

2.  **Constants:** Use `ALL_CAPS`.
    * Constants are variables whose values are not intended to change.
    * All uppercase letters.
    * Use underscores (`_`) to separate words.
    * Examples: `MAX_CONNECTIONS = 10`, `PI = 3.14159`.

3.  **Meaningful Names:** Choose names that clearly indicate the purpose of the variable or function (e.g., `customer_address` instead of `addr` or `ca`).

**Why follow conventions?**
* **Readability:** Makes code easier for you and others to read and understand.
* **Maintainability:** Easier to debug and modify code later.
* **Collaboration:** Essential when working in teams.

In [ ]:
# Example 6.1: Good Naming
first_name = "Ada"
item_price = 19.99
MAX_ATTEMPTS = 3

print(first_name)
print(item_price)
print(MAX_ATTEMPTS)

# Example 6.2: Less readable naming (Avoid this!)
# FN = "Ada"
# itemprice = 19.99
# maxattempts = 3

Ada
19.99
3

### ✨ Group Debugging Activity 2: Operators & Naming ✨

**Instructions:**
1. Read the code below. It intends to calculate the average of three scores and uses a variable name that doesn't follow conventions.
2. Run the code and observe the error or incorrect output.
3. Discuss in your group: What are the problems? (Hint: Check operator precedence and variable naming rules).
4. In the empty cell below, write the corrected code with proper naming and calculation.

In [ ]:
# Buggy Code 2: Calculating average & Naming

score1 = 80
score2 = 95
score3 = 72

# Intends to calculate the average, but has issues
average_score = score1 + score2 + score3 / 3

print("The average score is:", average_score)
print(f"The average score is {average_score}")
# Also, think about the variable name 'AverageScore' - how could it be improved?

The average score is: 199.0
The average score is 199.0

In [ ]:
# Corrected Code 2 Cell
# Write your corrected code here

score1: int = 80
score2: int = 95
score3: int = 72

# Intends to calculate the average, but has issues
average_score: float = (score1 + score2 + score3) / 3

print("The average score is:", average_score)
print(f"The average score is {average_score:.2f}")

The average score is: 82.33333333333333
The average score is 82.33

## 7. Data Structures (Expanded)

Data structures allow us to store and organize collections of data.

### 7.1 Lists (`list`)

* **Definition:** Ordered, mutable (changeable) sequences of items.
* **Syntax:** Defined using square brackets `[]`, items separated by commas.
* **Features:** Items can be of different types. Order is preserved. Items can be added, removed, or changed.

**Accessing Items:** Use index numbers (starting from 0). `my_list[0]` is the first item.
**Slicing:** Get sub-lists using `my_list[start:stop]`. `stop` index is not included.

In [ ]:
# Example 7.1.1: Creating and accessing lists
colours = ["red", "green", "blue", "yellow"]
print("Original list:", colours)
print("First color:", colours[0])
print("Last color:", colours[-1]) # Negative index starts from the end


# Slicing
print("First two colors:", colours[0:2]) # Index 0 up to (not including) 2
print("From index 1 onwards:", colours[1:])
print("Up to index 3:", colours[:3])

Original list: ['red', 'green', 'blue', 'yellow']
First color: red
Last color: yellow
First two colors: ['red', 'green']
From index 1 onwards: ['green', 'blue', 'yellow']
Up to index 3: ['red', 'green', 'blue']

**Common List Methods:**

* `append(item)`: Adds an item to the *end* of the list.
* `insert(index, item)`: Inserts an item at a specific `index`.
* `remove(item)`: Removes the *first occurrence* of an item.
* `pop(index=-1)`: Removes and *returns* the item at the given `index` (default is the last item).
* `sort()`: Sorts the list in place (ascending order).
* `len(list)`: (Function, not method) Returns the number of items in the list.

In [ ]:
# Example 7.1.2: List methods
numbers = [3, 1, 4, 1, 5, 9]
print("Initial numbers:", numbers)

# append()
numbers.append(2)
print("After append(2):", numbers)

# insert()
numbers.insert(0, 6) # Insert 6 at index 0
print("After insert(0, 6):", numbers)

# remove()
numbers.remove(1) # Remove the first '1'
print("After remove(1):", numbers)

# pop()
last_item = numbers.pop() # Remove and get the last item
print("Popped item:", last_item)
print("After pop():", numbers)

# sort() Ascending
numbers.sort() # Sort in ascending order
print("After sort():", numbers)

# sort() Descending
numbers.sort(reverse=True) # Sort in descending order
print("After sort(reverse=True):", numbers)

# len()
print("Length of list:", len(numbers))

Initial numbers: [3, 1, 4, 1, 5, 9]
After append(2): [3, 1, 4, 1, 5, 9, 2]
After insert(0, 6): [6, 3, 1, 4, 1, 5, 9, 2]
After remove(1): [6, 3, 4, 1, 5, 9, 2]
Popped item: 2
After pop(): [6, 3, 4, 1, 5, 9]
After sort(): [1, 3, 4, 5, 6, 9]
After sort(reverse=True): [9, 6, 5, 4, 3, 1]
Length of list: 6

**Exercise 7.1:**
1. Create a list named `tasks` with initial items: `"email", "call", "meeting"`.
2. Add `"report"` to the end of the list.
3. Insert `"lunch"` at index 1.
4. Remove `"call"` from the list.
5. Print the final list and its length.

In [ ]:
# Exercise 7.1 Code Cell

tasks: list[str] = ["email", "call", "meeting"]

tasks.append("report")

tasks.insert(1, "lunch")

tasks.remove("call")

print(tasks, len(tasks))

['email', 'lunch', 'meeting', 'report'] 4

### ✨ Group Debugging Activity 3: List Indexing ✨

**Instructions:**
1. Read the code below. It defines a list of fruits and intends to print the *last* fruit.
2. Run the code and observe the `IndexError`.
3. Discuss in your group: Why does this error happen? How does list indexing work? How can you correctly access the last item?
4. In the empty cell below, write the corrected code to print the last fruit.

In [ ]:
# Buggy Code 3: Accessing list items
fruits = ["apple", "banana", "cherry"]
print("The list has", len(fruits), "items.")

# This code intends to print the LAST fruit ('cherry')
# but uses the wrong index
index_to_get = len(fruits) # What is the value of index_to_get?
print("Trying to get item at index:", index_to_get)
print("The last fruit is:", fruits[index_to_get])

The list has 3 items.
Trying to get item at index: 3

IndexError: list index out of range

In [ ]:
# Corrected Code 3 Cell
# Write your corrected code here

fruits: list[str] = ["apple", "banana", "cherry"]
print(f"The list has {len(fruits)} items.")

# Corrected code to print the LAST fruit ('cherry')
print(f"The last fruit is: {fruits[-1]}")

The list has 3 items.
The last fruit is: cherry

### 7.2 Tuples (`tuple`)

* **Definition:** Ordered, **immutable** (unchangeable) sequences of items.
* **Syntax:** Defined using parentheses `()`, items separated by commas. (Parentheses optional in some contexts, but recommended for clarity).
* **Features:** Order is preserved. Once created, items *cannot* be added, removed, or changed. Useful for data that should not be modified (e.g., coordinates, RGB colors).

**Accessing Items & Slicing:** Same as lists (`my_tuple[0]`, `my_tuple[start:stop]`).

In [ ]:
# Example 7.2.1: Creating and accessing tuples
point = (10, 20, 30) # x, y, z coordinates
rgb = ("red", "green", "blue")

print("Point:", point)
print("First coordinate:", point[0])
print("RGB colors:", rgb)
print("Sliced tuple:", rgb[0:2])

# Attempting to change a tuple item (will cause an error!)
try:
  point[0] = 5
except TypeError as e:
  print("\nError when trying to change tuple:", e)

Point: (10, 20, 30)
First coordinate: 10
RGB colors: ('red', 'green', 'blue')
Sliced tuple: ('red', 'green')

Error when trying to change tuple: 'tuple' object does not support item assignment

**Common Tuple Methods/Functions:**

* `count(item)`: Returns the number of times an `item` appears in the tuple.
* `index(item)`: Returns the index of the *first occurrence* of an `item`.
* `len(tuple)`: (Function) Returns the number of items in the tuple.

In [ ]:
# Example 7.2.2: Tuple methods
grades = ('A', 'B', 'C', 'B', 'A', 'A')

# count()
count_A = grades.count('A')
print(f"Number of 'A' grades: {count_A}")

# index()
index_first_B = grades.index('B')
print(f"Index of first 'B' grade: {index_first_B}")

# len()
print(f"Total number of grades: {len(grades)}")

Number of 'A' grades: 3
Index of first 'B' grade: 1
Total number of grades: 6

**Exercise 7.2:**
1. Create a tuple named `dimensions` representing (length, width, height): `(12.5, 8.0, 5.2)`.
2. Print the tuple.
3. Print the width (the second item).
4. Try to find the index of the value `8.0`.

In [ ]:
# Exercise 7.2 Code Cell

dimensions: tuple[float] = (12.5, 8.0, 5.2)

print(dimensions)

print(dimensions[1])

print(dimensions.index(8.0))

(12.5, 8.0, 5.2)
8.0
1

### ✨ Group Debugging Activity 4: Tuple Immutability ✨

**Instructions:**
1. Read the code below. It defines a tuple representing RGB color values and tries to change the 'blue' value.
2. Run the code and observe the `TypeError`.
3. Discuss in your group: Why does this error happen? What does 'immutable' mean for tuples?
4. You don't need to 'fix' this code to change the tuple (because you can't!). Instead, discuss *why* this error occurs and what makes tuples different from lists in this regard.

In [ ]:
# Buggy Code 4: Trying to change a tuple
primary_colors = ("red", "green", "blue")

print("Original colors:", primary_colors)

# This code intends to change 'blue' to 'yellow', but tuples are immutable!
print("Attempting to change the last color...")
primary_colors[2] = "yellow"

print("Updated colors:", primary_colors) # This line won't be reached

Original colors: ('red', 'green', 'blue')
Attempting to change the last color...

TypeError: 'tuple' object does not support item assignment

### 7.3 Dictionaries (`dict`)

* **Definition:** Collections of **key-value pairs**. Mutable.
* **Syntax:** Defined using curly braces `{}`. Each item is `key: value`, pairs separated by commas.
* **Features:** Keys must be unique and immutable (usually strings or numbers). Values can be any type. Dictionaries are used to map keys to values for fast lookups.
    * *Note:* Since Python 3.7, dictionaries remember the order items were inserted. In older versions, they were unordered.

**Accessing Values:** Use the key in square brackets: `my_dict[key]`.
**Adding/Updating:** Assign a value to a new or existing key: `my_dict[key] = value`.

In [ ]:
# Example 7.3.1: Creating and accessing dictionaries
student = {
    "name": "Charlie",
    "major": "History",
    "student_id": 9876
}
print("Student dictionary:", student)

# Accessing values
print("Student name:", student["name"])

# Adding/Updating values
student["year"] = 2 # Add a new key-value pair
student["major"] = "Ancient History" # Update existing key
print("Updated student:", student)

Student dictionary: {'name': 'Charlie', 'major': 'History', 'student_id': 9876}
Student name: Charlie
Updated student: {'name': 'Charlie', 'major': 'Ancient History', 'student_id': 9876, 'year': 2}

**Common Dictionary Methods/Functions:**

* `get(key, default=None)`: Returns the value for `key`. If `key` is not found, returns `default` (or `None` if `default` isn't specified) instead of raising an error.
* `keys()`: Returns a view object containing the dictionary's keys.
* `values()`: Returns a view object containing the dictionary's values.
* `items()`: Returns a view object containing the dictionary's key-value tuple pairs.
* `pop(key, default=None)`: Removes the specified `key` and returns its value. If `key` is not found, returns `default` or raises an error if `default` isn't specified.
* `len(dict)`: (Function) Returns the number of key-value pairs.

In [ ]:
# Example 7.3.2: Dictionary methods
capitals = {"UK": "London", "France": "Paris", "Germany": "Berlin"}

# get()
capital_spain = capitals.get("Spain", "Not Found")
print("Capital of Spain:", capital_spain)
capital_uk = capitals.get("UK")
print("Capital of UK:", capital_uk)

# keys(), values(), items()
print("Keys:", capitals.keys())
print("Values:", capitals.values())
print("Items:", capitals.items())

# pop()
removed_capital = capitals.pop("France")
print("Removed capital:", removed_capital)
print("After pop('France'):", capitals)

# len()
print("Number of capitals:", len(capitals))

Capital of Spain: Not Found
Capital of UK: London
Keys: dict_keys(['UK', 'France', 'Germany'])
Values: dict_values(['London', 'Paris', 'Berlin'])
Items: dict_items([('UK', 'London'), ('France', 'Paris'), ('Germany', 'Berlin')])
Removed capital: Paris
After pop('France'): {'UK': 'London', 'Germany': 'Berlin'}
Number of capitals: 2

**Exercise 7.3:**
1. Create a dictionary `book` with keys `"title"`, `"author"`, `"year"` and corresponding values.
2. Print the author of the book using key access.
3. Add a new key `"genre"` with a value.
4. Use the `get()` method to try and retrieve the value for a key `"rating"`, providing a default value like `"Not Rated"`.
5. Print all the keys in the dictionary.
6. Print the final dictionary.

In [ ]:
# Exercise 7.3 Code Cell

book: dict[str: str] = {
    "title": "Harry Potter",
    "author": "J.K. Rowling",
    "year": "1997"
}

print(book["author"])

book["genre"] = "Fantasy"

print(book.get("rating", "Not Rated"))

print(book.keys())

print(book)

J.K. Rowling
Not Rated
dict_keys(['title', 'author', 'year', 'genre'])
{'title': 'Harry Potter', 'author': 'J.K. Rowling', 'year': '1997', 'genre': 'Fantasy'}

### ✨ Group Debugging Activity 5: Dictionary Keys ✨

**Instructions:**
1. Read the code below. It defines a dictionary of item prices and tries to access the price for 'banana'.
2. Run the code and observe the `KeyError`.
3. Discuss in your group: Why does this error happen? How do you correctly access values in a dictionary? What could you use if you're *not sure* if a key exists?
4. In the empty cell below, write corrected code that *either* accesses an existing key correctly *or* safely tries to access 'banana' without causing an error (e.g., using `get()`).

In [ ]:
# Buggy Code 5: Accessing dictionary values
item_prices = {
    "apple": 0.50,
    "orange": 0.75,
    "pear": 0.60
}

print("Item prices:", item_prices)

# This code intends to get the price of a 'banana', but it's not in the dictionary!
print("Getting price for 'banana'...")
banana_price = item_prices["banana"]

print("Price of banana:", banana_price) # This line won't be reached

Item prices: {'apple': 0.5, 'orange': 0.75, 'pear': 0.6}
Getting price for 'banana'...

KeyError: 'banana'

In [ ]:
# Corrected Code 5 Cell
# Write your corrected code here

item_prices: dict[str: float] = {
    "apple": 0.50,
    "orange": 0.75,
    "pear": 0.60
}

print("Item prices:", item_prices)

# This code gets the price of a 'banana' and throws an exception
try:
    print("Getting price for 'banana'...")
    banana_price: str = item_prices["banana"]

    print("Price of banana:", banana_price) # This line won't be reached
except KeyError as e:
    print(f"Error when trying to get price for 'banana': {e}")

Item prices: {'apple': 0.5, 'orange': 0.75, 'pear': 0.6}
Getting price for 'banana'...
Error when trying to get price for 'banana': 'banana'

## Python Sets – Simple Explanation

A **set** is a built-in Python data structure that stores a collection of **unique items**.  
Unlike lists, sets do not allow duplicates, and the order of elements is not fixed.

### ✨ Why Use Sets?
- To remove duplicates from a collection.
- To check membership efficiently.
- To store unique values.

### 🔧 Common Set Operations in This Example:
- `my_set.add(item)` – Adds a new item to the set.
- `my_set.remove(item)` – Removes an item from the set (gives an error if it doesn't exist).

### 💡 Simple Use Case:
You're keeping a list of fruits you have in your basket. You want to add a new fruit and later remove one.

In [ ]:
# Create a set of fruits
fruits = {"apple", "banana", "orange"}
print("Initial set:", fruits)

# Add a new fruit
fruits.add("grape")
print("After adding grape:", fruits)

# Remove a fruit
fruits.remove("banana")
print("After removing banana:", fruits)

Initial set: {'apple', 'orange', 'banana'}
After adding grape: {'grape', 'apple', 'orange', 'banana'}
After removing banana: {'grape', 'apple', 'orange'}

## Day 1 Wrap-up

Excellent work! You've covered a lot of ground today, including debugging!

**Recap:**
* Output with `print()` and Input with `input()`.
* Variables and basic types (`int`, `float`, `str`, `bool`).
* Special characters using escape sequences (`\n`, `\t`, etc.).
* Mathematical calculations using operators (`+`, `-`, `*`, `/`, `//`, `%`, `**`).
* Difference between concatenation (`+`) and commas (`,`) in `print()`.
* Importance of naming conventions (PEP 8 `snake_case`).
* Data Structures:
    * **Lists:** Ordered, mutable, methods like `append`, `insert`, `remove`, `sort`.
    * **Tuples:** Ordered, immutable, methods like `count`, `index`.
    * **Dictionaries:** Key-value pairs, mutable, methods like `get`, `keys`, `values`, `items`, `pop`.
* Common errors related to types, indexing, immutability, keys, and operators, tackled in group activities.

**Keep Practicing!** Experiment with the examples, try different values, and work through the exercises and debugging challenges. The more you code (and debug!), the more comfortable you'll become.

**Next Steps:** We'll likely explore conditional logic (`if`, `elif`, `else`), comparisons, and looking at loops.